/* You can add global styles to this file, and also import other style files */
.add-button {
  background-color: #4CAF50; /* Green background */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.add-button:hover {
  background-color: #45a049; /* Darker green background on hover */
}

.add-button:focus {
  outline: none;
}
